@import "variables";

/* ---------------------------------------------------------------- */
/* BUTTONS */
/* ---------------------------------------------------------------- */
@mixin btn-default {
  border-radius: 200px;
  display: inline-block;
  font-weight: 300;
  padding: 10px 30px;
  text-decoration: none;
  transition: background-color $transition-time-default, border $transition-time-default, color $transition-time-default;
}

@mixin btn-hover-background-color-change {
  background-color: $orange-darker;
  border: 1px solid $orange-darker;
}

@mixin btn-full {
  background-color: $orange-default;
  border: 1px solid $orange-default;
  color: #fff;
  margin-right: 15px;
}

@mixin btn-ghost {
  border: 1px solid $orange-default;
  color: $orange-default;
}

input[type=submit] {
  @include btn-default;
  @include btn-full;

  &:hover,
  &:active {
    @include btn-hover-background-color-change;
  }
}

.btn {
  &:link,
  &:visited {
    @include btn-default;
  }

  &:hover,
  &:active {
    @include btn-hover-background-color-change;
  }
}

.btn-full {
  &:link,
  &:visited {
    @include btn-default;
    @include btn-full;
  }

  &:hover,
  &:active {
    @include btn-hover-background-color-change;
  }
}

.btn-ghost {
  &:link,
  &:visited {
    @include btn-default;
    @include btn-ghost;
  }

  &:hover,
  &:active {
    @include btn-hover-background-color-change;
    color: #fff;
  }
}

