@import "variables";

/* ---------------------------------------------------------------- */
/* MAIN NAVIGATION*/
/* ---------------------------------------------------------------- */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;

    li {
        display: inline-block;
        margin-left: 40px;

        a:link,
        a:visited {
            padding: 8px 0;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 90%;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
        }

        a:hover,
        a:active {
            border-bottom: 2px solid $orange-default;
        }
    }
}

/* ---------------------------------------------------------------- */
/* STICKY NAVIGATION*/
/* ---------------------------------------------------------------- */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;

    .main-nav {
        margin-top: 18px;

        li {

            a:link,
            a:visited {
                padding: 16px 0;
                color: $grey-default;
            }
        }
    }

    .logo {
        display: none;
    }

    .logo-black {
        display: block;
    }
}

/* ---------------------------------------------------------------- */
/* MOBILE NAVIGATION*/
/* ---------------------------------------------------------------- */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;

    i {
        font-size: 200%;
        color: #fff;
    }
}
