@import "variables";

/* ---------------------------------------------------------------- */
/* STEPS */
/* ---------------------------------------------------------------- */

.section-steps {
    background-color: $grey-light;
}

.steps-box {
    &:first-child {
        text-align: right;
        padding-right: 3%;
    }

    &:last-child {
        padding-left: 3%;
        margin-top: 80px;
    }
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;

    &:last-of-type {
        margin-bottom: 80px;
    }

    div {
        color: $orange-default;
        border: 2px solid $orange-default;
        display: inline-block;
        border-radius: 50%;
        height: 55px;
        width: 55px;
        text-align: center;
        padding: 7px;
        float: left;
        font-size: 150%;
        margin-right: 25px;
    }
}



.btn-app {
    img {
        height: 50px;
        width: auto;
        margin-right: 10px;
    }

    &:link,
    &:visited {
        text-decoration: none;
        border: 0;
    }
}

