@import "bourbon/bourbon";
@import "variables";
@import "presets";

html,
body {
    color: $grey-default;
    font-family: $font, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

@import "header";
@import "navigation";
@import "headings";
@import "paragraphsandicons";
@import "buttons";
@import "links";
@import "meals";
@import "steps";

/* ---------------------------------------------------------------- */
/* FEATURE */
/* ---------------------------------------------------------------- */
.section-features {
    .long-copy {
        margin-bottom: 30px;
    }
}



