$orange-default: #e67e22 !default;
$orange-darker: #cf6d17;
$grey-default: #555;
$grey-footer: #333;
$grey-footer-font: #888;
$grey-footer-font-hover: #ddd;
$grey-light: #f4f4f4;

$facebook-blue: #3b5998;
$twitter-blue: #55acee;
$instagram-blue: #125688;
$googleplus-red: #dd4b39;
